.section2.savoir-faire {
  /* .section-container */
  /* @media screen and (max-width: 480px) and (max-height: 900px) */
}

.section2.savoir-faire .section-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-animation: sliding-background 40s linear infinite !important;
          animation: sliding-background 40s linear infinite !important;
  background: url("../../../../img/pendules.jpg") no-repeat right/120%;
  /* left-bloc-dark */
}

.section2.savoir-faire .section-container .left-bloc-dark {
  /* &:after */
  /* &:before */
  /* .text-container */
}

.section2.savoir-faire .section-container .left-bloc-dark:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -40px;
  right: -40px;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

.section2.savoir-faire .section-container .left-bloc-dark:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -40px;
  left: -40px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}

.section2.savoir-faire .section-container .left-bloc-dark .text-container {
  /* profil-picture */
  /* @media screen and (max-width: 900px) and (max-height: 480px) */
}

.section2.savoir-faire .section-container .left-bloc-dark .text-container .profil-picture {
  width: 100px;
  margin: 40px auto;
  background-image: url("../../../../img/jf.jpg");
  background-size: cover;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.section2.savoir-faire .section-container .left-bloc-dark .text-container .profil-picture .picture {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 900px) and (max-height: 480px) {
  .section2.savoir-faire .section-container .left-bloc-dark .text-container::before {
    bottom: -20px;
    left: -20px;
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container::after {
    top: -20px;
    right: -20px;
  }
}

@media screen and (max-width: 480px) and (max-height: 900px) {
  .section2.savoir-faire {
    /* .section-container */
  }
  .section2.savoir-faire .section-container {
    /* .left-bloc-dark */
  }
  .section2.savoir-faire .section-container .left-bloc-dark {
    /* text-container */
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container {
    /* profil-picture */
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container::before {
    bottom: -20px;
    left: -20px;
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container::after {
    top: -20px;
    right: -20px;
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container .profil-picture {
    width: 60px;
  }
  .section2.savoir-faire .section-container .left-bloc-dark .text-container .profil-picture .picture {
    height: 60px;
    width: 60px;
  }
}

/* .section2.savoir-faire */
/*# sourceMappingURL=style.css.map */