.section3.contact {
  background-color: #b50000;
  /* .section-container */
  /* @media screen and (max-width: 900px) and (max-height: 480px) */
  /* @media screen and (max-width: 480px) and (max-height: 900px) */
  /* @media screen and (max-width: 480px) and (max-height: 680px) */
}

.section3.contact .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .right-side */
}

.section3.contact .section-container .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: center;
  /* .form-contact */
}

.section3.contact .section-container .right-side .adress {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 40px 0 0 12%;
}

.section3.contact .section-container .right-side .adress h3 {
  font-size: 2em;
}

.section3.contact .section-container .right-side .adress span {
  display: block;
  color: white;
}

.section3.contact .section-container .right-side .form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  width: 100%;
  padding: 0 14% 0 12%;
  /* .input-fied */
}

.section3.contact .section-container .right-side .form-contact .input-field {
  margin-bottom: 5px;
}

.section3.contact .section-container .right-side .form-contact .input-field label {
  color: white;
}

.section3.contact .section-container .right-side .form-contact .send-email-btn {
  width: 100%;
  padding: 0;
}

.section3.contact .section-container .left-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
}

@media screen and (max-width: 900px) and (max-height: 480px) {
  .section3.contact {
    /* section-container */
  }
  .section3.contact .section-container {
    /* right-side */
  }
  .section3.contact .section-container .right-side {
    font-size: 0.5em;
    /* .form-contact */
  }
  .section3.contact .section-container .right-side .adress {
    display: none;
  }
  .section3.contact .section-container .right-side .form-contact {
    margin-top: 20px;
    padding: 0 25% 0 10%;
  }
  .section3.contact .section-container .right-side .form-contact .input-field {
    margin-bottom: 5px;
  }
  .section3.contact .section-container .right-side .form-contact .input-field .ant-form-item-label {
    padding: 0;
  }
  .section3.contact .section-container .right-side .form-contact .input-field .ant-form-item-label label {
    color: white;
    font-size: 0.8em;
  }
  .section3.contact .section-container .right-side .form-contact .input-field textarea {
    height: 80px !important;
    min-height: 80px !important;
  }
}

@media screen and (max-width: 480px) and (max-height: 900px) {
  .section3.contact {
    /* .section-container */
  }
  .section3.contact .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* .right-side */
  }
  .section3.contact .section-container .right-side {
    /* .form-contact */
  }
  .section3.contact .section-container .right-side .adress {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section3.contact .section-container .right-side .adress h3 {
    display: none;
  }
  .section3.contact .section-container .right-side .adress span {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .section3.contact .section-container .right-side .form-contact {
    margin-bottom: 5%;
  }
  .section3.contact .section-container .right-side .form-contact .input-field .ant-form-item-label {
    padding: 0;
  }
  .section3.contact .section-container .right-side .form-contact .input-field .ant-form-item-label label {
    color: white;
    height: 0;
    font-size: 0.9em;
  }
  .section3.contact .section-container .right-side .form-contact .input-field textarea {
    height: 100px !important;
    min-height: 100px !important;
  }
}

/* &.section3 */
/*# sourceMappingURL=style.css.map */