.section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #0d0d0d;
  border: 10px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  scroll-snap-align: start;
  /* &.isChanging */
  /* .section-container */
  /* &.activ-section */
  /*  @media screen and (max-width: 900px)  */
  /* @media screen and (max-width: 900px) and (max-height: 480px) */
  /* @media screen and (max-width: 480px) and (max-height: 900px) */
  /* @media screen and (max-width: 480px) and (max-height: 680px) */
  /* @media screen and (max-width: 480px) and (max-height: 680px) */
  /* @media screen and (max-width: 480px) and (max-height: 680px) */
}

.section.isChanging {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 10px solid #870000;
  pointer-events: none !important;
}

.section .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  border: 0px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
  background-size: cover !important;
  /* filterFx */
  /* &.menuIsOpen */
  /* right-bloc-light */
  /* .left-bloc-dark */
}

.section .section-container.filterFx {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
}

.section .section-container.menuIsOpen {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
}

.section .section-container .right-bloc-light {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0%) translateZ(0px);
  transform: translateX(0%) translateZ(0px);
  -webkit-transition: 1s;
  transition: 1s;
  /* title-decoration */
  /*  &.activ-section  */
}

.section .section-container .right-bloc-light .title-decoration {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #0d0d0d;
  font-family: "Lalezar";
  font-size: 6em;
  line-height: 100vh;
  margin: 0;
  width: 100%;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 0px, 1px 1px #0d0d0d, 2px 2px #0d0d0d;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
  /* &:before */
}

.section .section-container .right-bloc-light .title-decoration:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

.section .section-container .right-bloc-light.activ-section {
  /* .title-decoration */
}

.section .section-container .right-bloc-light.activ-section .title-decoration {
  background: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0px, 1px 1px #0d0d0d, 2px 2px #0d0d0d, 3px 3px #0d0d0d, 4px 4px #0d0d0d, 5px 5px #0d0d0d, 6px 6px #0d0d0d, 7px 7px #0d0d0d, 8px 8px #0d0d0d, 9px 9px #0d0d0d, 10px 10px #0d0d0d, 11px 11px #0d0d0d, 12px 12px #0d0d0d, 13px 13px #0d0d0d, 14px 14px #0d0d0d, 15px 15px #0d0d0d, 16px 16px #0d0d0d, 17px 17px #0d0d0d, 18px 18px #0d0d0d, 19px 19px #0d0d0d, 20px 20px #0d0d0d, 21px 21px #0d0d0d, 22px 22px #0d0d0d, 23px 23px #0d0d0d, 24px 24px #0d0d0d, 25px 25px #0d0d0d;
}

.section .section-container .left-bloc-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%) translateZ(0px);
  transform: translateX(100%) translateZ(0px);
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(13, 13, 13, 0.3);
  height: 100%;
  color: white;
}

.section .section-container .left-bloc-dark .text-container {
  width: 400px;
  margin: 10% auto;
  /* .content */
}

.section .section-container .left-bloc-dark .text-container .content {
  position: relative;
  font-size: 0.85em;
  letter-spacing: 0.1rem;
  line-height: 140%;
  white-space: pre-wrap;
  text-align: justify;
}

.section.activ-section {
  /* .section-container */
}

.section.activ-section .section-container {
  /* .right-bloc-light */
  /* .left-bloc-dark */
}

.section.activ-section .section-container .right-bloc-light {
  /* &.activ-section */
}

.section.activ-section .section-container .right-bloc-light.activ-section {
  -webkit-transform: translateX(-100%) translateZ(0px) !important;
  transform: translateX(-100%) translateZ(0px) !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.section.activ-section .section-container .left-bloc-dark {
  /* &.activ-section */
}

.section.activ-section .section-container .left-bloc-dark.activ-section {
  -webkit-transform: translateX(0%) translateZ(0px) !important;
  transform: translateX(0%) translateZ(0px) !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

@media screen and (max-width: 900px) {
  .section {
    border: 5px solid white;
    /* &.isChanging */
  }
  .section.isChanging {
    border: 5px solid #b50000 !important;
  }
}

@media screen and (max-width: 900px) and (max-height: 820px) {
  .section {
    /* .section-container */
    /* &.activ-section */
    /* tablettes et ordinateurs */
  }
  .section .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* .right-bloc-light */
    /* .left-bloc-dark */
  }
  .section .section-container .right-bloc-light .title-decoration {
    font-size: 4em;
  }
  .section .section-container .left-bloc-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%) translateZ(0px);
    transform: translateX(100%) translateZ(0px);
    -webkit-transition: 1s;
    transition: 1s;
    /* .text-container */
  }
  .section .section-container .left-bloc-dark .text-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 500px;
    margin: 50px;
    /* .content */
  }
  .section .section-container .left-bloc-dark .text-container .content {
    margin: 0;
    font-size: 0.8em;
    letter-spacing: 0rem;
    line-height: 120%;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    text-align: justify;
  }
  .section.activ-section {
    /* .section-container */
  }
  .section.activ-section .section-container {
    /* .right-bloc-light */
    /* .left-bloc-dark */
  }
  .section.activ-section .section-container .right-bloc-light {
    /* &.activ-section */
  }
  .section.activ-section .section-container .right-bloc-light.activ-section {
    -webkit-transform: translateX(-100%) translateZ(0px) !important;
    transform: translateX(-100%) translateZ(0px) !important;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .section.activ-section .section-container .left-bloc-dark {
    /* &.activ-section */
  }
  .section.activ-section .section-container .left-bloc-dark.activ-section {
    -webkit-transform: translateX(0%) translateZ(0px) !important;
    transform: translateX(0%) translateZ(0px) !important;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
}

@media screen and (max-width: 480px) and (max-height: 900px) {
  .section {
    /* section-container */
    /* &.activ-section */
  }
  .section .section-container {
    /* .left-bloc-dark */
    /* .right-bloc-light */
  }
  .section .section-container .left-bloc-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%) translateZ(0px);
    transform: translateX(100%) translateZ(0px);
    -webkit-transition: 1s;
    transition: 1s;
    /* .text-container */
  }
  .section .section-container .left-bloc-dark .text-container {
    width: 225px;
    margin: 25% auto;
    /* .content */
  }
  .section .section-container .left-bloc-dark .text-container .content {
    font-size: 1em;
    letter-spacing: 0rem;
    line-height: 140%;
    margin-top: 100px;
  }
  .section .section-container .right-bloc-light {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(0%) translateZ(0px);
    transform: translateX(0%) translateZ(0px);
    -webkit-transition: 1s;
    transition: 1s;
    /* .title-decoration */
  }
  .section .section-container .right-bloc-light .title-decoration {
    font-size: 4em;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .section.activ-section {
    /* .section-container */
  }
  .section.activ-section .section-container {
    /* .right-bloc-light */
    /* .left-bloc-dark */
  }
  .section.activ-section .section-container .right-bloc-light {
    /* &.activ-section */
  }
  .section.activ-section .section-container .right-bloc-light.activ-section {
    -webkit-transform: translateX(-100%) translateZ(0px);
    transform: translateX(-100%) translateZ(0px);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .section.activ-section .section-container .left-bloc-dark {
    /* &.activ-section */
  }
  .section.activ-section .section-container .left-bloc-dark.activ-section {
    -webkit-transform: translateX(0%) translateZ(0px) !important;
    transform: translateX(0%) translateZ(0px) !important;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
}

@media screen and (max-width: 480px) and (max-height: 680px) {
  .section {
    /* section-container */
  }
  .section .section-container .content {
    font-size: 0.8em;
    text-align: justify;
  }
}

@media screen and (max-width: 650px) and (max-height: 480px) {
  .section {
    /* section-container */
  }
  .section .section-container .content {
    margin: 70px 60px 0;
    font-size: 0.7em;
    letter-spacing: 0rem;
    line-height: 140%;
    text-align: justify;
  }
}

@media screen and (max-height: 480px) {
  .section {
    /* .section-container */
  }
  .section .section-container .content {
    margin: 70px 60px 0;
    font-size: 0.7em;
    letter-spacing: 0rem;
    line-height: 140%;
  }
}

@media only screen and (max-width: 767px) and (max-height: 800px) {
  .section {
    /* tablettes et ordinateurs */
  }
  .section .section-container {
    /* .left-bloc-dark */
  }
  .section .section-container .left-bloc-dark .text-container {
    width: 300px;
    /* .content */
  }
  .section .section-container .left-bloc-dark .text-container .content {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 950px) and (max-height: 450px) {
  .section {
    /* section-container */
  }
  .section .section-container {
    /* .left-bloc-dark */
  }
  .section .section-container .left-bloc-dark .text-container {
    margin-top: 60px;
    width: 460px;
    /* .content */
  }
  .section .section-container .left-bloc-dark .text-container .content {
    margin: auto;
    font-size: 0.9em;
    width: 100%;
  }
  .section .section-container .left-bloc-dark .text-container .profil-picture {
    position: absolute;
    right: 70px;
    width: 70px !important;
  }
  .section .section-container .left-bloc-dark .text-container .profil-picture .picture {
    height: 70px !important;
    width: 70px !important;
  }
}

/* section */
@-webkit-keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}
@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}
/*# sourceMappingURL=section.css.map */