$color-1: #0d0d0d;
$color-1-opacity: hsla(0, 0%, 5%, 0.55);
$color-1-op-strong: hsla(0, 0%, 5%, 0.3);
$color-2: rgb(181, 0, 0);
$color-3: white;
$color-3-opacity: rgba(255, 255, 255, 0.9);
$color-4: rgb(135, 0, 0);
